h1{
    padding: 20px;
    margin: 20px;
    /*text-decoration: underline;*/
    font-weight: 100;
    font-family: sans-serif;
    border: 4px dotted black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
div{
    margin-left: 20px;
    font-size: 1.3em;
   
}
div ul a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
div img{
    margin-left: 50%;
    margin-right: 50%;
    height: 350px;
    
}